.notFound{
  margin: 20px auto;
  color: white;
  font-weight: 700;
  width: 85%;
  background-color: rgba(27, 128, 128, 0.808);
  text-align: center;
  padding: 20px 0;
  text-transform: uppercase;
}

.titleH3, .titleH1{
  margin: 0;
}

.titleH1{
  font-size: 56px;
}
.titleH3{
  font-size: 36px;
}