.container {
  width: 85%;
  margin: 20px auto;
  border-radius: 20px;
  border: 4px solid teal;
}
.searchForm {
  display: flex;
  width: 100%;
}
.search {
  width: 100%;
}
.btnSearch {
  background-image: url(../../assets/search.png);
  background-repeat: no-repeat;
  background-size: cover;
  outline: none;
  border: none;
  background-color: white;
  border-radius: 25px;
  width: 50px;
}
.entryField {
  padding-left: 2px;
  width: 100%;
  border: none;
  outline: none;
  padding: 10px 0;
  font-size: 2em;
  color: teal;
  border-radius: 20px;
  margin-right: 1%;
}

@media (max-width: 920px) {
  .container {
    background-size: 15%;
    width: 65%;
  }
  .entryField {
    font-size: 1.8em;
  }
}

@media (max-width: 675px) {
  .entryField {
    font-size: 1.6em;
  }
}

@media (max-width: 460px) {
  .container {
    height: 45px;
    width: 85%;
  }
  .entryField {
    font-size: 1.2em;
  }
}